.menu {
  display: flex;
  gap: 30px;
  background-color: #222;
  padding: 20px;
  justify-content: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

.menu a:hover {
  color: #00bfff;
  transform: scale(1.1);
}